body{
background:#050505;
font-family:tahoma;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.box{

width:90%;
max-width:400px;

background:linear-gradient(145deg,#111,#241500);

padding:25px;

border-radius:20px;

box-shadow:
0 0 25px #d4af3744;

border:1px solid #d4af37;

text-align:center;

color:#ffd700;

}


input{

width:90%;

padding:12px;

margin:10px;

border-radius:10px;

border:1px solid #d4af37;

background:#000;

color:white;

}


button{

width:95%;

padding:12px;

border:0;

border-radius:12px;

background:#d4af37;

font-weight:bold;

font-size:16px;

cursor:pointer;

}


#msg{

margin-top:15px;

color:white;

}
